/*todo: for the 1st column with title, use justify-content in mobile breakpoints*/

.main-body {
  min-height: calc(100vh - 2rem);
  background: #47494e;
  .container > .inner-body {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
}
.is-primary {
  background-color: #8f53ee !important;
}
.navbar-link:not(.is-arrowless)::after {
  border-color: #8f53ee !important;
}
.navbar-item:hover,
.navbar-link:hover {
  color: #8f53ee !important;
}
.rounded-button {
  border-radius: 30px;
  text-decoration: none;
  padding: 6px 20px;
  transition: all 0.18s ease-in-out;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  &.is-primary {
    background-color: #8f53ee !important;
    &:hover {
    color: #8f53ee !important;
    background-color: transparent !important;
    border: 1px solid #8f53ee !important;
    }
  }
}
.columns {
  .column {
    &.title-column {
      padding: 5rem 1.25rem;
      display: flex;
      align-self: center;
      @media (min-width: 320px) {
        & {
          justify-content: center;
        }
      }
      @media (min-width: 900px) {
        & {
          justify-content: normal !important;
        }
      }
    }
  }
}
.page-sub {
  font-size: 2.4rem;
  color: white !important;
  text-align: center;
  margin-bottom: 2rem;
}
.awooter {
  background-color: #363636;
  color: #fff;
  text-align: center;
  a {
    color: #8f53ee;
    &:hover {
      color: #b287ef;
    }
  }
  .awooter-inner {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.title-block {
  background: rgba(0,0,0,0.25);
  padding: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 10px
}

.news-block {
  transition: all 0.2s ease-in-out;
  background: #363636;
  padding: 2rem;color: #fff;
  border-radius: 10px;
  display: block;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  h1 {
    transition: all 0.2s ease-in-out;
    font-size: 1.9rem !important;
    color: mediumpurple;
    margin: 0;
  }
  @media (min-width: 320px) {
    & {
      margin-bottom: 1rem;
    }
  }
  @media (min-width: 900px) {
    & {
      margin-bottom: 0;
    }
  }
  &:hover {
    transform: scale(0.95);
  }
  &.main {
    margin-right: 0 !important;
    margin-bottom: 1rem;
    &:hover {
      transform: scale(0.98);
    }
  }
}
.mb-4r {
  margin-bottom: 4rem;
}
.awoo {
  height: 25px;
  margin-bottom: -2px;
}
